body {
  margin: 0;
  background-color: #EFF6FF;
  font-family: 'Barlow', sans-serif;
  color: #2A4A5C;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #2A4A5C;
  transition: color 0.3s;
}

.nav a:hover,
.nav a:focus {
  color: #3698FB;
}

.main {
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 2.5rem;
}

.buttons {
  margin-top: 30px;
}

.btn {
  padding: 10px 20px;
  margin: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.btn-fb {
  background-color: #255A9B;
}

.btn-in {
  background-color: #0076B6;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    margin-top: 10px;
  }

  .main h1 {
    font-size: 2rem;
  }
}
